<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Customers</h2>
<h3><%= @customers.count %></h3>
<%= link_to 'Download Customers', '/export.csv', :target => "_blank" %>
